.spinner {
    display: inherit;
    padding-left: 50%;
    padding-top: 10%;
}

.content {
    margin-bottom: 2em;
    margin-top: 1em;
}

.tdInline {
  white-space: nowrap;
}

.table tr td{
  max-width: 15vw;
  text-overflow: ellipsis;
  overflow: hidden; 
}


.errorMessage{
  height: 3em;
  overflow: auto;
  word-wrap: break-word;
  font-size: 0.8em;
}

.cart{
  position: relative;
  //white-space: nowrap;
}

