//@import "../../style.scss";

.link {
    background: white;
    font-size: .9rem;
    padding: .8rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;

    :global(.fa) {
        font-size: 0.8rem;
    }

    &.gray {
        background: gray;
    }
}