.filters{
  border: 1px solid #eeeeee;
  padding: 1em;
  display: grid;
  margin: 2em 0em;
  box-sizing: border-box;

  .hidden{
    display: none;
  }

  a:hover{
    cursor: pointer;
  }

  .filterTitle{
    width: initial;
    border: initial;
    padding: 0em 1em;
    margin: 0;
    font-size: 1.2em;
  }

  .fields{
    display: grid;
    grid-gap: 0px 10px;
    grid-template-columns: repeat(4, 1fr);
    //grid: 100% / 33% 33% auto;

    label {
      margin:0.5em 0;
      max-width: 100%;
      position:relative;
      display:inline-block;
    }

    span {
      padding:10px;
      pointer-events: none;
      position:absolute;
      background: inherit;
      left:0;
      top:0;
      transition: 0.2s;
      transition-timing-function: ease;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
      opacity:0.5;
    }

    input {
      box-sizing: border-box;
      border-color: #cccccc;
      border-style: solid;
      border-width:1px;
      width: 100%;
      padding: 1.2em 1em 0.75em 1em;
      border-radius: 4px;
    }

    .downsizingLabel .selectFilter + span, .downsizingLabel input + span{
      opacity:1;
      transform: scale(0.75) translateY(-40%) translateX(-10px);

    }

  .selectFilter:focus + span, .selectFilter:focus-within + span, input:focus + span, input:not(:placeholder-shown) + span {
      opacity:1;
      transform: scale(0.75) translateY(-40%) translateX(-10px);
    }

  }

}

@media (max-width: 600px) {
  .filters{

    .fields{
      grid-gap: 5px;
      grid:initial;
    }
  }

}

