
  .tooltip {
    font-size:16px;
    color:#039;
    text-decoration:none;
    cursor:help;
    margin: 0 0 0 0.5em;
  }

  .tooltip:hover {
    background:transparent;
    color:#f00;
    z-index:99;
  }


