.spinner {
    display: inherit;
    padding-left: 50%;
    padding-top: 10%;
}

.categories {
  font-size: .9em;
}

.image {
  max-width: 200px;
}

.content {
  margin-bottom: 2em;
}

.tdInline {
  white-space: nowrap;
}

.checkedlabel label{
  background-color:#337ab7 !important;
}

.customCheckBox{  
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  /* Hide the browser's default checkbox */
  label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  label {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

  }

  /* On mouse-over, add a grey background color */
  label:hover {
    background-color: #ccc;
  }
  
 
}
 @media screen and (max-width: 767px) {
  .hide{
    display: none;
  }

  .categories {
    width: 250px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
  }

  .image{
    max-width: 100px;
    display: inline-flex;
    flex-direction: column;
    width: 12vw;
  }

  /* a{
    position: absolute;
    left: 0px;
    width: 100vw;
    display: block;
    height: 15vh;
  } */
}
