.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    h1 {
        align-self: center;
    }

    .error {
        font-weight: bold;
        display: flex;
        align-self: center;
    }

}

.container {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}


.field{
    line-height: 1em;

    input {
            width: 100%;
            padding: 12px 30px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
    }
}

.btnGroup {
   display: flex;
   justify-content: space-between;
   max-width: 150px;
}

.message {
  margin: 1em 0em;

  a {
    cursor: pointer;
  }
}

