
body {
  padding-top: 51px;
}

.text-center {
  padding-top: 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.navbar-custom {
  background-color: #3c8dbc;
}

.col-xs-12 {
  background-color: #fff;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}

#sidebar .nav {
  width:100%;
}

#sidebar li {
  border: 0 #f2f2f2 solid;
  border-bottom-width: 1px;
}

@media screen and (max-width: 767px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top: 0;
  }
  .spinner {
    left: 100%;
  }

}
