.spinner {
  display: inherit;
  padding-left: 50%;
  padding-top: 10%;
}

.categories {
font-size: .9em;
}

.image{
max-width: 200px;
}

.content{
margin-bottom: 2em;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  max-width: 170px;
  float: right !important;
}




