.field {
  line-height: 1em;
  input {
          width: 100%;
          padding: 12px 30px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
  }
}

.buttons {
  display: flex;
  margin: 1em 0em;
  justify-content: space-between;
}
