.spinner {
    display: inherit;
    padding-left: 50%;
    padding-top: 10%;
}

.categories {
  font-size: .9em;
}

.image{
  max-width: 200px;
}

.buttons{
  max-width: 130px;
  display: flex;
  justify-content: space-between;
}

.customMenu{
  a{
    padding: 3px 10px !important;
    svg{
      margin-right: 0.5em;
    }
  }
  

}
