.LokiSteps {
  width:100%;
  position:relative;
  display:table;
  table-layout:fixed;
  text-align:center;
  vertical-align:middle;
  border-collapse:separate;
  margin-left:0;
  padding-left:0;
  padding-top:20px
}

.LokiSteps .LokiStep {
  display:table-cell;
  position:relative;
  float:none;
  padding:0;
  width:1%
}

.LokiSteps .LokiStep .LokiStep-Icon {
  background-color:#fff;
  border-radius:50%;
  border:1px solid #ccc;
  color:#ccc;
  font-size:24px;
  height:64px;
  line-height:64px;
  margin:0 auto;
  position:relative;
  width:64px;
  z-index:1
}
.LokiSteps .LokiStep .LokiStep-Link.disabled {
  cursor:not-allowed
}

.LokiSteps .LokiStep.LokiStep-Active .LokiStep-Icon {
  border-color:#75b2f5;
  color:#75b2f5;
}

.LokiSteps .LokiStep.LokiStep-Complete .LokiStep-Icon {
  border-color:#05ae0e;
  color:#05ae0e
}

.LokiSteps .LokiStep:after {
  left:50%;
  background-color:#ccc;
  content:"";
  display:block;
  height:1px;
  position:absolute;
  width:100%;
  top:32px
}

.LokiSteps .LokiStep:last-child:after {
  display: none;
}

.Loki-Actions {
  display: block;
  padding: 20px 0
}

.Loki{
  max-width:100%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Loki .btn-group{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form {
   padding: .25rem!important;
   margin: 1em;
}

 .Loki .Loki-Actions > button {
    background-color: transparent;
    border: transparent;
    border: 0px;
    padding: 0px;
    margin: 0em 0.5em;
}

label{
  display: flex;
  justify-content: center;
}
