.jumbotron{
    padding-top: 0.1em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    background-color: #eeeeee2b;
    min-height: 15em;

    h2{
        color: #333;
        margin-top: auto;
        font-size: 1em;
        padding: 0.8em;
        margin-left: -0.6em;
        margin-right: -0.6em;
        border-top-right-radius: 2em;
        background:#f5f5f5;
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 1;
    }

}
.contentContainer{
    display: flex;
    line-height: 1em;
    .content{
        display: inline-flex;
        flex-wrap: wrap;

        b {
             margin-right: 0.2em;
        }
        p {
            word-wrap: break-word;
            font-size: 1em;
        }
    }
}
