.customThead{

  tr {
     th {
        a:hover{
          cursor: pointer;
        }
        .arrowUp:before {
          content: "";
          display: block;
          margin-right: 10px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid;
        }
        .arrowDown:before {
          content: "";
          display: block;
          margin-right: 10px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid;
        }
      }
  }
}
