
.crossTable {
  border: 2px solid #f5f5f5;
  max-width: 350px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 5px #f5f5f5;
  margin: 1em;

  .title {
    width: 100%;
    display: flex;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: capitalize;

  }

}
