.spinner {
    padding-left: 50%;
    padding-top: 10%;
}

.captcha{
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 2em;

  h1 {
      align-self: center;
  }

  .error {
      font-weight: bold;
      display: flex;
      align-self: center;
  }
}
