.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 2em;

    h1 {
        align-self: center;
    }

    .error {
        font-weight: bold;
        display: flex;
        align-self: center;
    }

    .links{
      display: inherit;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0.5em 0em;
      text-decoration: underline;
      line-height: 1.7em;
    }

}

.socialButton {
  display: flex;
  justify-content: center;
  padding: 1em;

  button{
    border-radius: 4px !important;
  }

  span{
    margin: 1em;
  }
}

.divider {
  margin: 24px 0;
  position: relative;

  hr {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    border-top: .0625rem solid rgba(0,0,0,.12);
    box-sizing: content-box;
    height: 0;
  }

  span{
    transition: background-color .5s;
    background-color: white;
    color: rgba(0,0,0,.54);
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 48px;
    text-align: center;
  }

}

.container {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}


.field{
    line-height: 1em;

    input {
            width: 100%;
            padding: 12px 30px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }


  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
  }
