.filtersContainer {
  display: flex;
  flex-direction: column;
  margin: 2em 0em;
}

.filters {
  border: 1px solid #eeeeee;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  line-height: 2em;

  th {
    padding: 0em 1em;
    display: flex;
    align-items: center;
    margin: 0.5em 0em;

    input{
      border-top: 0;
      border-left: 0;
      margin: 0em 0em 0em 1em;
      font-size: small;
      font-style: italic;
      font-weight: normal;
      padding: .5em 0em 0em .5em;
    }

    .smallField{
      max-width: 100px;
    }

    h5 {
      color: #337ab7;
    }
  }

  label {
    color: #777;
    font-weight: normal;
    margin: 0px;
  }

  div {
    display: inline-block;
    min-width: 240px;

    div{
      border-top: 0;
      border-left: 0;
      line-height: 1.5em;
      font-size: small;
      font-style: italic;
      font-weight: normal;

      div{
        margin: 0em 0em 0em 1em;
        border-top: 0!important;
        border-left: 0!important;
        overflow: hidden;
      }
    }
  }

}

@media screen and (max-width: 767px) {
  .filters {
    div {
      display: inline-block;
      min-width: 180px;
    }
  }

}
