.spinner {
    display: inherit;
    padding-left: 50%;
    padding-top: 10%;
}

.categories {
  font-size: .9em;
}


.field{
  line-height: 1em;
  margin: 1em 0 1em 0;
  display: flex;
  align-items: flex-start;
}

.image {
  max-width: 200px;
}

.content {
  margin-bottom: 2em;
}

.tdInline {
  white-space: nowrap;
}


.rulebox{

  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 3em;
  border: 2px solid #f5f5f5;
  max-width: 350px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 5px #f5f5f5;
  margin: 1em;

  label{
    text-align: center;
    line-height: 1.5em;
    padding: 1em 0em 1em 0em  ;
  }

  #about{
    padding: 0em 1em;
    background-color: #1777cad1;
    color: white;
    border-radius: 1em;

    a{
      color: white;
    }
  }

  a{
    align-self: flex-end;
    cursor: pointer;
  }

  .controls{
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

  }
}




 @media screen and (max-width: 767px) {
  .hide{
    display: none;
  }

  .categories {
    width: 250px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
  }

  .image{
    max-width: 100px;
    display: inline-flex;
    flex-direction: column;
    width: 12vw;
  }

  /* a{
    position: absolute;
    left: 0px;
    width: 100vw;
    display: block;
    height: 15vh;
  } */
}
