.container {
    display: flex;
    margin-left: 85vw;
    margin-top: 0.5em;
}

.toggle{
    //background-color: rgb(221, 221, 221);
    border-radius: 5em;
    svg{
      color: #337ab7;
    }
}

.menu{
    //text-align: center;
}

.username >  a:hover {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    background-image: none;
}
