.spinner {
  display: inherit;
  padding-left: 50%;
  padding-top: 10%;
}

.categories {
  font-size: .9em;
}

.search{
  background: #fff;
  border-color: #cccccc;
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  outline: none;
}

.image{
max-width: 200px;
}

.content{
margin-bottom: 2em;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
}

.field {
  margin: .7em 0em;

  span {
    word-break: break-all;
  }
}

.transparent {
  position: sticky;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=70);
}

.buttons{
  max-width: 130px;
  display: flex;
  justify-content: space-around;
}

.groupButton {
  float: right;
}

@media screen and (max-width: 767px) {

  .groupButton {
    width: 100%;
    margin-top: 1em;
  }

}
